body{
    background-color: white;
}

.righteous{
    font-family: 'Righteous', cursive;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.principal{
    height: 750px;
    width: 414px;
    background-color: #EEEEEE;
    margin: auto;
    box-sizing: border-box;
    padding-top: calc(92 + 31);
}

.cabecalho{
    margin-bottom: 31px;
    height: 92px;
    width: 414px;
    position: fixed;
    top: 0;
    background-color: #CF2B2B;
    color: #FFFFFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 21px;
    box-sizing: border-box;
}

.cabecalho span:first-child{
    display: block;
    font-size: 44px;
    margin-bottom: 5px;
}

.cabecalho span:last-child{
    display: block;
    font-size: 18px;
}


.card{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 9px;
}